@media only screen and (min-width:480px) {
 
 
 * {

box-sizing: border-box;

 }
 
 html {
    scroll-behavior: smooth;
 }

body {
    background-color: deepskyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    text-align: center;
    overflow-y:auto;

}

#menu {
    margin: auto;
    height:50px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
}

#logo {
    margin: auto;
    margin-left: 0px;
    height: 100%;
    width: 50%;
    display: flex;
    padding: 0px;
    box-sizing: border-box;

    
}

#socialaccounts {
    margin: auto;
    margin-top:15px;
    height: fit-content;
    width: fit-content;
    top:3px;
    display: flex;
    flex-direction: row;

}

img.social {
    margin: auto;
    margin-right: 15px;
    height:55px;
    width:55px;
    opacity: 0.5;
    border: 1px dashed white;
    padding: 5px;
}

img.social:hover {
    opacity: 1;
    cursor: pointer;
}

ul {
    margin: auto;
    height: 100%;
    width:fit-content;
    text-align: center;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0px;
  
}

ul li {
    margin: auto;
    display: inline-block;
    margin-right: 5px;
}

a.menu {
    text-decoration: none;
    color:white;
    display: block;
    padding: 10px;
    border-radius: 3px;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

a.menu:hover {
    background-color: white;
    color: deepskyblue;
    transition: 300ms ease-in-out;
}

#middlesection {
    margin: auto;
    margin-top:10px;
    height: 200px;
    width:fit-content;
    text-align: center;

    
}

h1 {
    margin: auto;
    font-size: 50px;
    color:white;
    padding: 5px;

    
}

h1.middlesection {
    margin: auto;
    font-size: 50px;
    display: block;
    color:deepskyblue;
    background-color: white;
    padding: 5px;
    border: 1px dashed deepskyblue;
    
}

h1.logo {
    margin: auto;
    margin-left: 0px;
    font-size:20px;
    display: block;
    background-color: white;
    color:deepskyblue;
    box-shadow: 3px 3px 3px black;
    padding: 3px;
    border-radius: 3px;
    letter-spacing: 4px;
    cursor: pointer;
    margin-top: 0px;
}

img.profil {
    margin: auto;
    margin-top:30px;
    height:200px;
    width:200px;
    border-radius: 50%;
    border: 2px dashed white;
}

#whoami {
    margin: auto;
    margin-top: 50px;
    height:fit-content;
    width: 100%;
    border: 1px dashed white;
    padding: 20px;
    text-align: justify;
}

h3 {
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    color: white;
    word-spacing: 5px;
    letter-spacing: 5px;
}

a.social {
    text-decoration:none;
    background-color: none;
}

#portfolio {
    margin: auto;
    margin-top:70px;
    height: 1000px;
    width: 100%;
    border-top: 1px dashed white;
}

img.arrow {
    margin: auto;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    background-color: deepskyblue;
}

a.arrow {
    background-color: deepskyblue;
}

img.portfolio {
    width: 90%;
    margin-top: 15px;
    border: 1px dashed white;
}

#code {
    color: white;
    font-size: 16px;
    height: 50px;
    width:100%;
    margin: auto;
}

}

@media only screen and (max-width:480px) {
 
 
    * {
   
   box-sizing: border-box;
   
    }
    
    html {
       scroll-behavior: smooth;
    }
   
   body {
       background-color: deepskyblue;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       box-sizing: border-box;
       text-align: center;
       overflow-y:auto;
   
   }
   
   #menu {
       margin: auto;
       height:50px;
       width:100%;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
    
   }
   
   #logo {
       margin: auto;
       margin-left: 0px;
       height: 100%;
       width: 50%;
       display: flex;
       padding: 0px;
       box-sizing: border-box;
   
       
   }
   
   #socialaccounts {
       margin: auto;
       margin-top:15px;
       height: fit-content;
       width: fit-content;
       top:3px;
       display: flex;
       flex-direction: row;
       
   
   }
   
   img.social {
       margin: auto;
       margin-right: 15px;
       height:45px;
       width:45px;
       opacity: 0.5;
       padding: 5px;
   }
   
   img.social:hover {
       opacity: 1;
       cursor: pointer;
   }
   
   ul {
       margin: auto;
       height: 100%;
       width:fit-content;
       text-align: center;
       padding: 0px;
       display: flex;
       justify-content: space-between;
       align-items: center;
 
     
   }
   
   ul li {
       margin: auto;
       display: inline-block;
       margin-right: 5px;
   }
   
   a.menu {
       text-decoration: none;
       color:white;
       display: block;
       padding: 10px;
       border-radius: 3px;
       letter-spacing: 3px;
       font-weight: bold;
       font-size:10px;
   }
   
   a.menu:hover {
       background-color: white;
       color: deepskyblue;
       transition: 300ms ease-in-out;
   }
   
   #middlesection {
       margin: auto;
       margin-top:10px;
       height:fit-content;
       padding:10px;
       width:90vw;
       text-align: center;
       box-sizing: border-box;
       border: 3px solid white;
       box-shadow: 3px 3px 3px black;
   
       
   }
   
   h1 {
       margin: auto;
       font-size:35px;
       color:white;
       padding: 5px;
   
       
   }

   h1.portfolio {
    margin: auto;
    margin-top:10px;
    font-size:25px;
    color:white;
    padding: 5px;

    
}
   
   h1.middlesection {
       margin: auto;
       margin-top:5px;
       font-size:30px;
       display: block;
       color:deepskyblue;
       background-color: white;
       padding: 5px;
       border: 1px solid deepskyblue;
       border-radius: 3px;
       
   }
   
   h1.logo {
       margin: auto;
       margin-left: 0px;
       font-size:16px;
       display: block;
       background-color: white;
       color:deepskyblue;
       box-shadow: 3px 3px 3px black;
       padding: 3px;
       border-radius: 3px;
       letter-spacing: 4px;
       cursor: pointer;
       margin-top: 0px;
   }
   
   img.profil {
       margin: auto;
       margin-top:30px;
       height:150px;
       width:150px;
       border-radius: 50%;
       border: 2px solid white;
   }
   
   #whoami {
       margin: auto;
       margin-top: 50px;
       height:fit-content;
       width: 100%;
       border: 1px dashed white;
       padding: 20px;
       text-align: justify;
   }
   
   h3.interactive {
       font-size:15px;
       margin: auto;
       margin-top: 10px;
       color: white;
       word-spacing: 5px;
       letter-spacing: 5px;
   }
   
   a.social {
       text-decoration:none;
       background-color: none;
   }
   
   #portfolio {
       margin: auto;
       margin-top:10px;
       height:fit-content;
       padding: 5px;
       box-sizing: border-box;
       width: 100%;
       text-align: center;
       background-color:deepskyblue;
     

   }
   
   img.arrow {
       margin: auto;
       height:15px;
       width:15px;
       margin-top: 5px;
       background-color: deepskyblue;
   }
   
   a.arrow {
       background-color: deepskyblue;
       margin: auto;

   }

   img.portfolio {
    width: 90%;
    margin-top:2px;
    border: 1px solid white;
    box-shadow: 3px 3px 3px black;
   }

   
   img.portfolio1 {
    width: 90%;
    margin-top:10px;
    border: 1px solid white;
    box-shadow: 3px 3px 3px black;
   }
   
   #code {
    margin: auto;
    color: white;
    font-size: 16px;
    width:100%;
    height: 50px;
}

hr {
    margin: auto;
    margin-top: 10px;
    color: white;
    width: 80%;
    height: 1px;
}



   }
