@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
      --renk1:#23CE6B;
      --renk2:#272D2D;
      --renk3:#B4656F;
      --white:white;
      
}
body {
      text-align: center;
      padding: 0px;
      margin: auto 0;
}

* {
      box-sizing: border-box;
      list-style: none;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
}

nav {
      height: 60px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      z-index: 100;
      background-color: var(--renk1);
      box-shadow: 0 0 10px black;
    
}

nav ul {
      padding: 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
}

nav ul li {
      display: inline-block;
}

nav ul li a {
     
      color: white;
      font-size: 20px;
      letter-spacing: 4px;
      cursor: pointer;
      padding: 7px 10px;
      display: block;
}

nav ul li a:hover {
      color: var(--renk2);
      transition: 400ms ease;
}

section {
      height: 100vh;
      width: 100%;
     
}

#home {
      background-color: var(--renk1);
}

img.profile {
      height:200px;
      width:200px;
      margin: auto;
      margin-top: 100px;
      border-radius: 50%;
      border:5px solid white;
     
}

h1.home {
      margin: auto;
      font-size: 50px;
}

h3.home {
      margin: auto;
      margin-top: 20px;
      font-size: 20px;
}

.home {
      color: var(--white);
}

span {
      background-color: var(--renk3);
      color: white;
      padding: 5px;
}

section#portfolio {
      background-color: var(--renk1);
      padding-top: 20px;
      height: fit-content;
}

h1.baslik {
      margin: auto;
      font-size:60px;
      letter-spacing: 5px;
      color: var(--white);
}

img#ok {
      position: fixed;
      bottom: 20px;
      right: 20px;
      cursor: pointer;
      cursor: pointer;
}

#siteler {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width:100%;
      gap: 5px;
}

#siteler > a {
      margin-top: 20px;
      height: 300px;
      width:48% !important;
      border: 5px solid white;
      cursor: pointer;
    }

#siteler > a > img {
      height:100%;
      width:100%;
}

#siteler > a:hover {
      box-shadow: 0 0 10px black;
}

img.icon {
      margin: auto;
      margin-top: 30px;
      height: 50px;
      width: 50px;
}

img.icon:hover {
      transform: scale(1.2);
      transition: 400ms ease;
}